body {
  font-family: $main-font;
  letter-spacing: $main-letter-spacing;
}

.style-light {
  
  h1 {
    background-color: rgba(255, 255, 255, .60);
    color: $black;
    font-weight: 300;
    margin: 0 auto;
    padding: 5px 15px 10px;
    width: 53%;

    @media screen and (max-width:1170px) {
      width: 61%;
    }
    @media screen and (max-width:1024px) {
      width: 66%;
    }
    @media screen and (max-width:959px) {
      padding: 10px 15px;
      width: 58%;
    }
    @media screen and (max-width:767px) {
      width: 95%;
    }
  }

  h2 {
    font-weight: 300;
  }

  a {
    color: inherit;
  }

  .header-wrapper .header-scrolldown i {
    color: $white;
    font-size: 40px;
  }
}
