.vmenu-footer {
  p {
    font-size: 10px;
  }
}

footer {
  .footer-last {
    .uncell {
      border-top: 1px solid $pink;
    }
    
    @media screen and (max-width:959px) {
      padding: 0;
    }
  }
}
