// dropdown arrow overrides
.fa.fa-angle-right.fa-dropdown {
  display: none;
}

.vmenu-left .menu-smart a i.fa-dropdown {
  float: none;
  top: 0;
}

//Logo
.logo-container {
  padding: 46px 46px 0 !important;
}

.logo-container .logo-image img {
  height: auto;
}

//Sub-menu items
.vmenu-container .menu-accordion ul ul {
  padding: 8px 0 8px 6px;
}

//main-main items
.menu-accordion .menu-smart a {
  padding: 5px 46px;
}

.vmenu-container a {
   letter-spacing: .5px !important;
}

@media screen and (max-width: 959px) {
  .menu-container ul.menu-smart > li > a,
  .menu-container ul.menu-smart li.dropdown > a {
    font-weight: 400;
  }

  .menu-smart a {
    text-transform: none;
    padding: 7px 46px;
  }
}
